* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0b1d2a; 
  color: white; 
}

header {
  background: #3fa7d6; 
  padding: 15px; 
}

nav {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.menu {
  display: flex; 
  gap: 20px; 
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-btn {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

@media(max-width: 768px){

  .menu {
    display: none;

    flex-direction: column;

    background: #3fa7d6;
    position: absolute;
    top: 60px;
    right: 0;

    width: 200px;
    padding: 20px;
  }

  
  .menu.show {
    display: flex; 
  }

 
  .menu-btn {
    display: block;
  }
}

main {
  padding: 40px;
}

.container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 80px; 
}

.texto {
  max-width: 500px;
}

.imagem img {
  width: 250px;
  border-radius: 15px;
}

.card {
  background: #1c2f45; 
  padding: 25px;
  border-radius: 15px;
  margin: 20px 0;
}

.skills-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap; 
}

.skill {
  margin-bottom: 15px;
}

.skill span {
  display: flex;
  justify-content: space-between; 
}

.bar {
  background: #2f4258; 
  height: 8px;
  border-radius: 10px;
}

.bar div {
  height: 100%;

  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #3fa7d6;
  margin-top: 120px;
}

form {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

input, textarea, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #0072ff;
  color: white;
  cursor: pointer;
}
/* TOOL */
.tools {
  margin-top: 40px;
  text-align: center;
}

.tools h2 {
  margin-bottom: 30px;
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.tool {
  background: #1c2f45;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.tool h3 {
  margin-bottom: 10px;
}

.tool p {
  font-size: 14px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s;
}

/* EFEITO BONITO */
.tool:hover {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  transform: translateY(-5px);
}

.tool:hover p {
  opacity: 1;
  transform: translateY(0);
}